

<div id="player-container">
  <div class="left">
    <img src="assets/icons/svg/skip-back.svg">
    <div 
      (click)=togglePlayButton()
      id="play-icon"
      [className]="isPlaying ? 'play' : 'pause'"
      src="assets/icons/svg/play.svg"> 
    </div>
      
    <img src="assets/icons/svg/skip-forward.svg">
  </div>

  <div id="progress-bar"></div>

  <div class="right">
    <img src="assets/icons/svg/repeat.svg">
    <img src="assets/icons/svg/shuffle.svg">
    <img src="assets/icons/svg/volume-2.svg">
  </div>
</div>